.grid_container_admin {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 3fr 3fr 3fr;
    background-color: #2196F3;
    text-align: center;
    align-items: center;
    height: 100vh;
}

.log {
    grid-column: 4 / 5;
}

.atama_tek{
    grid-column: 1 / 5;

}

.atama_toplu {
    grid-column: 1 / 5;
}

.atama_otomatik {
    grid-column: 1 / 5;
}

.input_text {
    width: 100px;
}

.mesaj_basari_hata{
    text-align: right;
}