.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.9fr;
    background-color: beige;
    text-align: center;
    align-items: center;
}