.main_div {
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.3fr 1fr 0.3fr;
    grid-template-rows: 0.1fr 0.3fr 0.3fr 0.1fr;
    background-color: beige;
    text-align: center;
    align-items: center;
    height: 100vh;
}

.giris_yap {
    padding: 7.8rem 0rem 7.8rem 0rem;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    border: solid 2px #008CBA;
    color: #008CBA;
}

.kayit_ol {
    padding: 5rem 0rem 5rem 0rem;
    grid-column: 4 / 5;
    grid-row: 2 / 4;
    border: solid 2px #008CBA;
    color: #008CBA;
}

.kayit_btn {
    padding: 1rem 2rem;
}
